function Main.mod 0
label WHILE_EXP0
push argument 0
push constant 0
gt
not
if-goto WHILE_END0
push argument 0
push argument 1
sub
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
return
function Main.decode 8
push constant 100
call String.new 1
pop local 6
push constant 100
call String.new 1
pop local 5
push constant 100
call String.new 1
pop local 4
push constant 36
call String.new 1
push constant 65
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 48
call String.appendChar 2
pop local 6
push constant 0
pop local 1
push argument 0
call String.length 1
pop local 2
label WHILE_EXP0
push local 1
push local 2
lt
not
if-goto WHILE_END0
push argument 0
push local 1
call String.charAt 2
pop local 7
push local 7
push local 6
push constant 0
call String.charAt 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 0
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 0
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE0
push local 7
push local 6
push constant 1
call String.charAt 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 1
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 1
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE1
push local 7
push local 6
push constant 2
call String.charAt 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 2
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 2
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE2
push local 7
push local 6
push constant 3
call String.charAt 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 3
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 3
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE3
push local 7
push local 6
push constant 4
call String.charAt 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 4
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 4
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE4
push local 7
push local 6
push constant 5
call String.charAt 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 5
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 5
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE5
push local 7
push local 6
push constant 6
call String.charAt 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 6
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 6
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE6
push local 7
push local 6
push constant 7
call String.charAt 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 7
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 7
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE7
push local 7
push local 6
push constant 8
call String.charAt 2
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 8
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 8
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE8
push local 7
push local 6
push constant 9
call String.charAt 2
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 9
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 9
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE9
push local 7
push local 6
push constant 10
call String.charAt 2
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 10
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 10
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE10
push local 7
push local 6
push constant 11
call String.charAt 2
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 11
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 11
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE11
push local 7
push local 6
push constant 12
call String.charAt 2
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 12
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 12
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE12
push local 7
push local 6
push constant 13
call String.charAt 2
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 13
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 13
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE13
push local 7
push local 6
push constant 14
call String.charAt 2
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 14
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 14
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE14
push local 7
push local 6
push constant 15
call String.charAt 2
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 15
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 15
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE15
push local 7
push local 6
push constant 16
call String.charAt 2
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 16
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 16
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE16
push local 7
push local 6
push constant 17
call String.charAt 2
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 17
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 17
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE17
push local 7
push local 6
push constant 18
call String.charAt 2
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 18
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 18
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE18
push local 7
push local 6
push constant 19
call String.charAt 2
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 19
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 19
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE19
push local 7
push local 6
push constant 20
call String.charAt 2
eq
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 20
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 20
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE20
push local 7
push local 6
push constant 21
call String.charAt 2
eq
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 21
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 21
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE21
push local 7
push local 6
push constant 22
call String.charAt 2
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 22
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 22
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE22
push local 7
push local 6
push constant 23
call String.charAt 2
eq
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 23
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 23
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE23
push local 7
push local 6
push constant 24
call String.charAt 2
eq
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 24
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 24
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE24
push local 7
push local 6
push constant 25
call String.charAt 2
eq
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push local 7
pop local 0
push local 0
push argument 1
sub
push local 6
push constant 25
call String.charAt 2
sub
push constant 26
add
push constant 26
call Main.mod 2
push local 6
push constant 25
call String.charAt 2
add
pop local 3
push local 5
push local 3
call String.appendChar 2
pop local 5
label IF_FALSE25
push local 5
call String.length 1
push constant 0
gt
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push local 4
push local 3
call String.appendChar 2
pop temp 0
label IF_FALSE26
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
call Output.println 0
pop temp 0
push local 4
return
function Main.main 3
push constant 3
pop local 0
push constant 27
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readLine 1
pop local 1
push constant 100
call String.new 1
pop local 2
push local 1
push local 0
call Main.decode 2
pop local 2
push constant 19
call String.new 1
push constant 68
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
